*{
  margin: 0px;
  padding: 0px;
}

.home{
   
  height:100px;
  width: 100%;
 
  padding-left: 15%;
  padding-top: 2%;

}


.myshadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


@media only screen and (max-width:750px){
   
  .mybox{
    width:88%;
  }

}

@media only screen and (min-width:750px){
   
  .sizeChange{
    width:55%;
  }

}

@media only screen and (min-width:750px){
    
   .mybox{
     
    width:55%;

   }
   
}


.header_font{
   font-family: "Dancing Script", cursive;
}

.desc_font {
   
  font-family:  "Lexend", sans-serif; 

}

.myCenterBox{
   
  display: table;
  margin: 0 auto;
  width: 100%
  

}