*{
  margin: 0px;
  padding: 0px;
}

.home{
   
  height:100px;
  width: 100%;
  background-color: green;
  padding-left: 15%;
  padding-top: 2%;

}


.myshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

